<h1>profile page</h1>
<h3>Hi <% @user.first_name %> <% @user.last_name %></h3>
<%# I sort the events that the user hosts %>

<% @upcoming_events.each do |event| %>
  <p><%= distance_of_time_in_words(event.date.to_time - Time.now) %></p>
  <%= event.description %>
<% end %>

<%# I sort the tickets that the user participated at %>

<% @tickets.each do |ticket| %>
  <% event = ticket.event %>
  <%# parsed_time = Time.parse(event.date) %>
  <%# now = Time.now %>
  <p><%= distance_of_time_in_words(event.date - Date.today) %></p>
  <%# parsed_time - now < 0 ? @upcoming_events << event : @history << event %>
<% end %>

<% @events.each do |event| %>
  <%= event.description %>
<% end %>
