<%= image_tag 'home-main-image.png', class: 'home-image'%>
<%= image_tag 'logo-black.svg', class: "big-logo"%>
<div>
<%= link_to "Browse Events", events_path, class: "home-btn"%>
<p class= "intro">Discover and host supper clubs near you</p>
</div>
