// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "carousel";
@import "map";
@import "footer";
@import "show";
@import "profile";
@import "address_autocomplete";

.flexbox {
  display: flex;
}

.container-fluid {
  flex-direction: row;
  justify-content: center;
}

.card {
  display: grid;
  flex-wrap: wrap;
  justify-content: center;
}

.index-main-img {
  width: 933.71px;
  height: 580.32px;
  position: relative;
  z-index: -100;
}
.header-container {
  padding: 0 50px;
  position: relative;
  height: 500px;
  h1 {
    position: absolute;
    font-size: 60px;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  img {
    height: 100%;
    width: 75%;
    object-fit: cover;
  }
  @media (max-width: 900px) {
    padding: 0;
    img {
      width: 100%;
      object-fit: contain;
    }
  }
}
.search-btn {
  color: black;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.02);
  width: Fixed (162px);
  height: Fixed (65px);
  padding: 8px;
  border-radius: 32px;
  border: 2px;
  gap: 8px;
  padding: 10px 24px !important;
  border: 2px solid #FFF;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.50) 6.26%, rgba(255, 255, 255, 0.00) 93.85%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);

  &:hover {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.00) 93.85%, rgba(255, 255, 255, 0.50) 6.26%);
  }
}

.search-form {
  border-radius: 32px;
  z-index: 100;
}

.card {
  padding: 0 50px;
  width: 300px;
  height: 300px;
  margin-bottom: 50px;
  border-radius: 20px !important;
  background: #FBFBFB;
  box-shadow: 0px 11px 13.1px 1px rgba(0, 0, 0, 0.25);
  transition: 2s;
  padding-top: 0 !important;

  &:hover {
    -ms-transform: scale(1.1);
	  -webkit-transform: scale(1.1);
	  transform: scale(1.1);
  }

}
.cards {
  justify-content: center;
}
.card-image {
  width: 300px;
  height: 180px;
  border-radius: 20px;
}

.chef {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 18px;
  margin-top: 10px;
}
.chef, .venue, .cuisine, .date {
  text-align: left;
  margin-left: 20px;
}
.price {
  text-align: right;
  margin-right: 20px;
}
.chef, .venue, .cuisine {
  margin-bottom: 8px !important;
}
.venue, .cuisine, .date, .price {
  color: #000;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 18px;
}
