// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "carousel";
@import "map";

.container-fluid {
  flex-direction: row;
  justify-content: center;
}

.card {
  display: grid;
  flex-wrap: wrap;
  justify-content: center;
}
