.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 90px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  margin: 0 50px;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
  margin: 0 50px;
}
