.container-show {
  padding-left: 20%;
  padding-right: 20%;
  margin: auto;
}

.image-carousel-show {
  margin-top: 28px;
  border-radius: 5%;
  overflow: hidden;
  border-radius: 2%;
  box-shadow: 10px 10px 10px #E5E5E5;
}

.text-and-form-show {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 56px;
  margin-bottom: 56px;
}

.text-show {
  width: 50%;
  margin-right: 16px;
  padding: 16px;
  border-radius: 5%;
}

.form-show {
  width: 40%;
  margin-left: 16px;
  background-color: white;
  box-shadow: 10px 10px 10px #E5E5E5;
  padding: 16px;
  border-radius: 2%;
}

.text-show h4 {
  line-height: 2.5;
}

.text-show h5 {
  line-height: 2;
}

.create-btn {
  color: black;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.02);
  width: Fixed (162px);
  height: Fixed (65px);
  padding: 8px;
  border-radius: 32px;
  border: 2px;
  gap: 8px;
  padding: 10px 24px !important;
  border: 2px solid #FFF;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.50) 6.26%, rgba(255, 255, 255, 0.00) 93.85%);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
  transition: 0.3s;

  &:hover {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.00) 93.85%, rgba(255, 255, 255, 0.50) 6.26%);
    border: 2px solid #0d6efd;
  }
}
