.container-show {
  width: 720px;
  margin: auto;
}

.image-carousel-show {

}

.text-and-form-show {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 50px
}

.text-show {
  width: 50%;
}

.form-show {

}
